.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.textcontainer {
  align-items: center;
  width: 25rem;
}
.firstline {
 margin: 1rem;
 background-color: blue;
 font-size: 3rem;
}
.secondline {
 margin: 1rem;
 background-color: green;
 font-size: 3rem;
}
.thirdline {
  margin: 1rem;
  background-color: firebrick;
  font-size: 3rem;
}