.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  
  align-items: center;
  justify-content: center;
  color: white;
}
.title {
  top:  0;
  position: absolute;
}
.textcontainer {
  align-items: center;
 position: absolute;
}
.firstline {
 margin: 1rem;
 font-size: 3rem;
}
.secondline {
 margin: 1rem;
 font-size: 3rem;
}
.thirdline {
  margin: 1rem;
  font-size: 3rem;
}
.opened {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
}
.dropdown {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
}
